body {
    margin: 0px;
} 

h1 img {
    width: 11.5vw;
  }

header {
    background-color: red;
    color: white;
    text-align: center;
    grid-area: header;
}

#logo {
    padding: 0px;
    margin: 0px;
    height: 24vh;
    justify-content: center;
}

#menu {
    background-color: red;
    color: white;
    grid-area: menu;
}

#menu nav ul {
    display: flex;
    gap: 0.5vw;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    margin: 0px;
}

#menu nav ul > li {
    margin: 0.8vw 1.5vh;
}

#menu nav ul > li > a {
    color: white;
    text-decoration: none;
    padding: 0.8vw;
    border: 0.01vw solid white;
    border-radius: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 1vh 1vw;
}

  /* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 5vw;
    box-shadow: 1vw 3vh 3vw black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2vh 2vw;
    width: 23vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: yellow;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

#main_content {
    grid-area: main_content;
    text-align: center;
}

#songs {
    text-align: center;
}

#songs nav ul {
    gap: 10vw;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    margin: 10px;
}

#songs nav ul li {
    margin: 3vw 5vh;
}

#songs nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.8vw;
    border: 0.01vw solid gray;
    border-radius: 50%;
}

hr {
    height: 0.1vw;
    background-color: black;
}

form {
    text-align: center;
}

footer {
    padding: 2vh 2vw;
    background-color: green;
    color: white;
    font-weight: bold; 
    text-align: center;
    grid-area: footer;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu menu"
    "main_content main_content"
    "video video"
    "footer footer"
    ;
    grid-template-columns:  1fr 5fr;
}